{% extends "blog/index.html" %}


{% block content %}
   <h3>bloglar</h3>
   {% for blog in blogs %}
        <div class="card ">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{blog.image.url}}" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{%url 'blog-details' blog.id %}">
                                {{ blog.title }}
                            </a>
                        </h5>
                        <h6> {{ blog.category.name }}</h6>
                        <p class="card-text">{{ blog.description|striptags|slice:"0:50" }}</p>
                        <a href="#">edit blog</a>
                    </div>
                </div>
            </div>
        </div>
   {% endfor %}
{% endblock %}